/Source/*/Source-DLLs/*
*Thumbs.db
/source/*/Bin/*
.vs/AlphaAnimals/v15/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
Source/.vs/AlphaAnimals/v15/.suo
Source/.vs/AlphaAnimals/v15/Server/sqlite3/db.lock
Source/.vs/AlphaAnimals/v15/Server/sqlite3/storage.ide
Source/.vs/AlphaAnimals/v15/Server/sqlite3/storage.ide-shm
Source/.vs/AlphaAnimals/v15/Server/sqlite3/storage.ide-wal
Source/AlphaAnimals/obj/Debug/AlphaAnimals.csproj.CoreCompileInputs.cache
Source/AlphaAnimals/obj/Debug/AlphaAnimals.csprojResolveAssemblyReference.cache
Source/AlphaAnimals/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/AlphaAnimals/obj/Release/AlphaAnimals.csproj.CoreCompileInputs.cache
Source/AlphaAnimals/obj/Release/AlphaAnimals.csprojResolveAssemblyReference.cache
Source/AlphaAnimals/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
.vs/VSWorkspaceState.json
Source/AlphaAnimals/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/AlphaAnimals/obj/Debug/AlphaAnimals.csprojResolveAssemblyReference.cache
Source/AlphaAnimals/.vs/AlphaAnimals/v15/Server/sqlite3/storage.ide-wal
Source/AlphaAnimals/.vs/AlphaAnimals/v15/Server/sqlite3/storage.ide
Source/AlphaAnimals/.vs/AlphaAnimals/v15/Server/sqlite3/storage.ide-shm
Source/AlphaAnimals/.vs/AlphaAnimals/v15/Server/sqlite3/db.lock
Source/AlphaAnimals/.vs/AlphaAnimals/v15/.suo
Source/.vs/VSWorkspaceState.json
Source/.vs/Source/v15/.suo
Source/.vs/slnx.sqlite
Source/.vs/ProjectSettings.json
